@media screen and (min-width: 450px) {
	.filter-options select {
		margin-right: 0;
		width: calc(50% - 15px);

	}

  #restaurants-list li {
		margin-right: 0;
		width: calc(50% - 15px);
		/* width: 270px; */
	}

	.inside #restaurant-container #restaurant-name {
		width: 100%;
		order: 0;
	}

	.inside #restaurant-container picture {
		width: 50%;
		order: 1;
	}

	.inside #restaurant-container #restaurant-cuisine {
		width: 100%;
		order: 4;
	}

	.inside #restaurant-container #restaurant-address {
		width: 100%;
		order: 3;
		text-align: center;
	}

	.inside #restaurant-container #restaurant-hours {
		width: calc(50% - 25px);
		order: 2;
		padding: 15px 0 0 25px;
	}

	#reviews-list li {

		width: 95%;

	}



}

@media screen and (min-width: 1021px) {

  #maincontent, header, footer {
    width: 1020px;
		margin: 0 auto;
  }

	.filter-options select {
		margin-right: 0;
		width: calc(50% - 15px);

	}

  #restaurants-list {
		width: 1000px;
    padding: 0;
	}

	#restaurants-list li {
		margin-right: 0;
		width: calc(33.33333% - 15px);
		/* width: 230px; */
	}

	#breadcrumb-list {
		width: 940px;
	}

	.inside header, .inside #footer {
		width: 1020px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.inside #maincontent {
		width: 1020px;
    margin: 130px auto 0;
	}

	.inside #map-container {
	  width: 50%;
		box-sizing: border-box;
	}

	.inside #map {
	  height: 800px;
	}

	.inside #restaurant-container {
		width: 50%;
		box-sizing: border-box;
		order: -1;
	}

	.inside #restaurant-container #restaurant-name {
		width: 100%;
		order: 0;
	}

	.inside #restaurant-container picture {
		width: 100%;
		order: 1;
	}

	.inside #restaurant-container #restaurant-cuisine {
		width: 100%;
		order: 2;
	}

	.inside #restaurant-container #restaurant-address {
		width: 100%;
		order: 3;
		text-align: center;
	}

	.inside #restaurant-container #restaurant-hours {
		width: calc(100% - 25px);
		order: 4;
		padding: 15px 0 0 25px;
	}

}
